<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Penguin</title>
</head>
<body>

	<form action='/new_penguin' method='post'>
		<input type='text' name='name' placeholder='penguin name....'>
		<input type='submit' value='Create Penguin'>
	</form>

	<a href="/">Go back to main page</a>
</body>
</html>